* { box-sizing: border-box; }

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    Font-size: 12px;
    color: #4a4b5e;
}

body {
    min-height: 100%;
    overflow: hidden;
    background-image: linear-gradient(#af67e9 , #6565e7) ;
}

.faq_Bg {
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    border-radius: 15px;

    width: 60%;
    height: 60%;

    display: flex;
    box-shadow: 0px 48px 26px -18px #4646bd;
}

.img_Wraper {
    position: relative;
    width: 45%;
}

.img_InsideBox {
    overflow: hidden;
    position: inherit;
    min-height: 100%;
}

img[src*='bg-pattern-desktop'] {
    position: absolute;
    height: 180%;
    bottom: -24%;
    left: -107%;
}

img[src*='woman-online-desktop'] {
    position: absolute;
    height: 77%;
    bottom: 15%;
    left: -19.5%;
    z-index: 1;
}

img[src*='box-desktop'] {
    position: absolute;
    height: 40%;
    bottom: 23%;
    left: -22%;
    z-index: 2;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    position: absolute;
    left:50%;
    bottom: 1%;
}

.attribution a { color: hsl(41.1, 100%, 53.9%); }

.center { transform: translate(-50%, -50%); }

article {
    width: 40%;
    margin: 4% 10% 0 auto;
    font-size: 1em;
    font-weight: 400;
}

summary {
    font-size: larger;
    padding-top: 3ch;
    cursor: pointer;
    padding-bottom: 1ch;
}

summary:hover {  color:#f47c57 ; }

summary:first-of-type { padding-top: 0; }

.arrow {
    float: right;
    content: url(/images/icon-arrow-down.svg);
    transition-duration: 400ms;
}

.addWeight { font-weight: 700; }

h1 { font-size: 2.6em; }

details { margin-bottom: 5%; }

.summary_List {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-evenly;
}

details > p {
    color: #787887;
}





@media screen and (max-width:375px) {
 
    .faq_Bg {
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 70%;
        top: 55%;
    }

    article {
        width: 85%;
        margin: 4% 8% 5% 8%;
        flex-grow: .5;
    }

    .img_Wraper {
        overflow: visible;
        width: 100%;
        position: static;
    }

    img[src*='bg-pattern-desktop'] {
        height: 45%;
        top: -4%;
        left: 50%;
    }
    
    img[src*='woman-online-desktop'] {
        height: 35%;
        top: -4%;
        left: 50%;
        rotate: -1.5deg;
    }
    
    img[src*='box-desktop'] {
        height: 18%;
        top: 1.5%;
        left: 25%;
    }

    .mobile_Translate { transform: translate(-50%, -50%); }
    
    h1 {
        text-align: center;
        margin-top: 15%;
    }
}
