* { box-sizing: border-box; }

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    Font-size: 12px;
    color: #4a4b5e;
}

body {
    min-height: 100%;
    overflow: hidden;
    background-image: linear-gradient(#af67e9 , #6565e7) ;
}

.faq_Bg {
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    border-radius: 15px;

    width: 60%;
    min-height: 60%;

    display: flex;
    box-shadow: 0px 48px 26px -18px #4646bd;
}

.img_Wraper {
    flex: 1;
}

.img_InsideBox {
    overflow: hidden;
    min-height: 100%;
    position: relative;
}

img[src*='bg-pattern-desktop'] {
    position: absolute;
    width: 180%;
    top: -56%;
    left: -105%;
}

img[src*='woman-online-desktop'] {
    position: absolute;
    height: 70%;
    top: 13%;
    left: -16%;
    z-index: 1;
}

img[src*='box-desktop'] {
    position: absolute;
    height: 40%;
    bottom: 23%;
    left: -10%;
    z-index: 1;
}


article {
    flex: 1;
    font-size: 1em;
    font-weight: 400;
    
    display: flex;
    flex-flow: column;
}

summary {
    font-size: larger;
    padding-top: 3ch;
    cursor: pointer;
    padding-bottom: 1ch;
    outline: none;
}

summary:hover {  color:#f47c57 ; }

summary:first-of-type { padding-top: 0; }

.arrow {
    float: right;
    content: url(/images/icon-arrow-down.svg);
    transition-duration: 400ms; 
    margin-right:5%;
}

.addWeight { font-weight: 700; }

h1 { 
    font-size: 2.6em;
    margin: 14% 0 0 0;;

    flex: 1;
 }

 
 .summary_List {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     
     padding: 0 20% 0 0;
     flex: 6;
     margin: 0 0 5% 0;
}

details {
        border-bottom: .1px solid hsl(240, 5%, 91%);
        padding: 3% 0 3% 0;
}

details > p {
    color: #787887;
    width: 90%;
}

details > summary {
    list-style-type: none;
}

.attribution {
    font-size: 8px; 
    text-align: center;
    position: absolute;
    left:50%;
    bottom: 1%;
}

.attribution a { color: hsl(41.1, 100%, 53.9%); }

.center { transform: translate(-50%, -50%); }




@media screen and (max-width:375px) {

    body {
        font-size: smaller;
    }

    .faq_Bg {
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        min-height: 70vh;
        top: 55%;
    }
    
    article {
        flex-grow: 3;
    }

    .summary_List {
        padding: 0 8% 10%;
        margin: 0;
    }

    details {
        padding: 1% 0 5% 0;
    }

    details > p {
        margin: 0;
    }

    .img_InsideBox { 
        overflow: visible;
        position: initial;}


    img[src*='bg-pattern-desktop'] {
       left: 50%;
       width: 70%;
       top: -4%;
    }
    
    img[src*='woman-online-desktop'] {
        left: 50%;
        width: 70%;
        rotate: -1.5deg;
        height: unset;
        top: -4%;
        
    }
    
    img[src*='box-desktop'] {
        height: 18%;
        top: 1.5%;
        left: 25%;
        z-index:4;
    }

    .arrow {
        margin: 0;
    }

    .mobile_Translate { transform: translate(-50%, -50%); }
    
    h1 {
        text-align: center;
        margin-top: 20%;
    }

    .attribution {
        font-size: .4rem;
    }
}
